.dropdown-item {
    padding: 10px 12px;
}

.dropdown-item a {
    padding: 10px 12px;
    margin: -10px -12px;
}

.nav-icon {
    font-size: 20px;
}

.poll-icon {
    margin-top: -4px;
}

@media (max-width: 768px) {
    .app-title a {
        font-size: 20px;
    }

    .app-menu > li {
        padding: 0 15px;
    }

    .app-menu > li > a {
        padding: 0 15px;
        margin: 0 -15px;
    }
}