	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #E9E9E9 url(public/images/bg01.png) repeat;
		font-family: 'Open Sans', sans-serif;
		font-size: 11pt;
		font-weight: 400;
		color: #969696;
	}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
		font-weight: 900;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
	}
	
	a
	{
		color: #0000FF;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	
	.container
	{
		margin: 0px auto;
		width: 1200px;
	}
	
/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 0 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1
	{
	}


/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		margin: 0;
		padding: 2em 0em 0em 0em;
		list-style: none;
	}
	
	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1em;
	}
	
	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.contact li a
	{
		color: #FFF;
	}
	
	ul.contact li a:before
	{
		display: inline-block;
		background: #3f3f3f;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #FFFFFF;
	}
	
	ul.contact li a.icon-twitter:before { background: #2DAAE4; }
	ul.contact li a.icon-facebook:before { background: #39599F; }
	ul.contact li a.icon-dribbble:before { background: #C4376B;	}
	ul.contact li a.icon-tumblr:before { background: #31516A; }
	ul.contact li a.icon-rss:before { background: #F2600B; }

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		margin-top: 2em;
		background: #00A4D9;
		border-radius: 5px;
		line-height: 4em;
		padding: 0 3em;
		-webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
		letter-spacing: 0.25em;
		text-decoration: none;
		text-transform: uppercase;
		outline: 0;
		white-space: nowrap;
		font-weight: 900;
		font-size: 1em !important;
		color: #fff !important;
	}

		.button:hover
		{
			background: #18ACD9;
			-webkit-transition: all .25s ease-in-out;
			-moz-transition: all .25s ease-in-out;
			-ms-transition: all .25s ease-in-out;
			-o-transition: all .25s ease-in-out;
			transition: all .25s ease-in-out;
		}
		
		.button:active
		{
			background: #0091BD;
			-webkit-transition: all .25s ease-in-out;
			-moz-transition: all .25s ease-in-out;
			-ms-transition: all .25s ease-in-out;
			-o-transition: all .25s ease-in-out;
			transition: all .25s ease-in-out;
		}
		
			.button-big
			{
				line-height: 4em;
				padding: 0 3em;
				font-size: 1.1em !important;
			}
		
/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	#wrapper
	{
		position: relative;
		padding: 0em 0em 5em 0em;
		background: #FFF;
		box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		height: 10em;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		margin: 4em auto 4em auto;
		text-transform: uppercase;
	}
	
	#logo h1
	{
		font-size: 2.2em;
		color: #292929;
	}
	
	#logo h1 a
	{
		margin-left: 0.50em;
		text-decoration: none;
		font-size: 1.5em;
		color: #292929;
	}
	
	#logo span
	{
		color: #01A9DC;
	}

	#logo .icon-size
	{
		padding-top: 0.20em;
		font-size: 2em !important;
		color: #01A9DC;
	}
	
	#logo p
	{
		margin: 0;
		padding: 0 0 0 5em;
		letter-spacing: 0.10em;
		font-size: 0.90em;
		color: #828282;
	}

	#logo p a
	{
		text-decoration: none;
		color: #828282;
	}


/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
		background: #292929;
	}
	
	#menu ul
	{
		margin: 0;
		padding: 0px 0px 0px 0px;
		list-style: none;
		line-height: normal;
		text-align: center;
	}
	
	#menu li
	{
		display: inline-block;
	}
	
	#menu a
	{
		display: block;
		padding: 0em 2em;
		line-height: 80px;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1em;
		font-weight: 700;
		color: #838383;
	}
	
	#menu .current_page_item a
	{
		background: #01A9DC;
		color: #FFF;
	}
	
	#menu a:hover
	{
		text-decoration: none;
		color: #FFF;
	}


/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page
	{
		overflow: hidden;
		width: 1100px;
		padding: 0em 50px 0em 50px;
		background: #F4F4F4;
		color: #191919;
	}
	
	#page .arrow-down {
		border-top-color: #FFF !important;
	}
	
	#page .title
	{
		padding: 0.5em 0em;
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
	}
	
	#page .title h2
	{
		font-size: 3em;
		color: #474747;
	}
	
	#page .title .byline
	{
		padding-top: 0.50em;
		font-size: 0.90em;
		color: #858585;
	}

	#page #box1
	{
		float: left;
		width: 500px;
	}

	#page #box2
	{
		float: right;
		width: 500px;
	}
	
	#page a
	{
		color: #01A9DC;
	}

	#page .answer
	{
		padding: 3em 0em;
		letter-spacing: 0.10em;
		text-transform: uppercase;
		font-size: 1.5em;
		color: #474747;
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		padding: 6em 0em;
		font-size: 0.70em;
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		text-shadow: 1px 1px 1px #FFF;
		color: #6A6A6A;
	}
	
	#copyright a
	{
		color: #747474;
	}

/*********************************************************************************/
/* Portfolio                                                                     */
/*********************************************************************************/

	#portfolio
	{
		position: relative;
		overflow: hidden;
		width: 1050px;
		padding: 0em 75px 6em 75px;
		background: #3d3b57 url(public/images/bg01.png) repeat;
	}
	
	#portfolio ul
	{
		margin-bottom: 2em;
		padding: 0;
		list-style: none;
	}
	
	#portfolio li
	{
		float: left;
		width: 310px;
		margin: 0px 10px;
		padding: 10px 10px;
	}
	
	#portfolio li img
	{
		border: 10px solid rgba(0,0,0,.10);
	}
	
	#portfolio li a
	{
		-webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
		opacity: .5;
	}

	#portfolio li a:hover
	{
		-webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
		opacity: 1;
	}
	
	#portfolio .current_item a
	{
		opacity: 1;
	}
	
	#portfolio .title
	{
		padding: 3em 0em;
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
	}
	
	#portfolio .title h2
	{
		font-size: 2.5em;
		color: #FFF;
	}
	
	#portfolio .title .byline
	{
		padding-top: 0.50em;
		font-size: 0.90em;
		color: #bebebe;
	}
	
	#portfolio .actions
	{
		text-align: center;
	}
	
	#portfolio .content
	{
		overflow: hidden;
		padding: 2em 5em 0em 5em;
		text-align: center;
		color: #bebebe;
	}
	
	#portfolio .content p
	{
		text-shadow: 0px 1px 0px #000;
		font-size: 1.2em;
	}
	
	#portfolio .button
	{
		margin: 2em 0.50em 0em 0.50em;
	}
	
	#portfolio .arrow-down {
		border-top-color: #F4F4F4 !important;
	}

	#pbox1,
	#pbox2,
	#pbox3
	{
		float: left;
		width: 400px;
	}

	.arrow-down {
		margin: 0 auto;
		width:0;
		height:0;
		border-top: 40px solid #FFF;
		border-left: 50px solid transparent;
		border-right: 50px solid transparent;
		display: block;
		text-align: center;
	}
	
/*********************************************************************************/
/* Three Columns                                                                 */
/*********************************************************************************/

	#three-column
	{
		overflow: hidden;
		text-align: center;
		color: #525252;
	}
	
	#three-column h2
	{
		margin: 1em 0em;
		text-transform: uppercase;
		font-size: 1.5em;
		font-weight: 700;
		color: #454445;
	}
	
	#three-column .icon
	{
		position: relative;
		display: block;
		margin: 0px auto 0.80em auto;
		line-height: 150px;
		font-size: 4em;
		background: #FFF;
		width: 150px;
		height: 150px;
		border-radius: 100px;
		border: 6px solid #00A4D9;
		text-align: center;
		color: #00A4D9;
	}
		
	#three-column #tbox1,
	#three-column #tbox2,
	#three-column #tbox3
	{
		float: left;
		width: 320px;
		padding: 80px 40px 80px 40px;
	}
	
	#three-column .title
	{
		letter-spacing: 0.10em;
		text-align: center;
		text-transform: uppercase;
	}
	
	#three-column .title h2
	{
		font-size: 1.60em;
		font-weight: 900;
		font-family: 'Open Sans', sans-serif;
		color: #00A4D9;
	}
	
	#three-column .title .byline
	{
		padding-top: 0.50em;
		font-size: 0.90em;
		color: #858585;
	}

	#three-column .arrow-down
	{
		border-top-color: #292929;
	}
	/*********************************************************************************/
	/* LOGIN  AND REGISTRATION                                                       */
	/*********************************************************************************/

	#sign-up{
		color: #0000FF;
		font-size: 32px;
		margin: 0;
		list-style: none;
		line-height: normal;
		display: inline-block;
		float: right;
	}

	#sign-up span
	{
		color: #01A9DC;
	}

	#form-login{
		padding: 16px;
	}

	input[type=text], input[type=email], input[type=password], input[type=password_confirmation] {
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
		border: 1px solid #ccc;
		box-sizing: border-box;
	}

	button {
		background-color: #01A9DC;
		color: white;
		padding: 14px 20px;
		margin: 8px 0;
		border: none;
		cursor: pointer;
		width: 100%;
	}

	button:hover {
		opacity: 0.8;
	}

	.alert {
		padding: 20px;
		background-color: #f44336; /* Red */
		color: white;
		margin-bottom: 15px;
	}

	/* The close button */
	.closebtn {
		margin-left: 15px;
		color: white;
		font-weight: bold;
		float: right;
		font-size: 22px;
		line-height: 20px;
		cursor: pointer;
		transition: 0.3s;
	}

	/* When moving the mouse over the close button */
	.closebtn:hover {
		color: black;
	}

	/*********************************************************************************/
	/* doctor-wrapper                                                                */
	/*********************************************************************************/

	#doctor-wrapper
	{
		position: relative;
		overflow: hidden;
		width: 950px;
		padding: 0em 75px 2em 75px;
		background: #ffffff url(public/images/bg01.png) repeat;
		font-size: 50px;
		border-style: solid;
		border-color: #F4F4F4;
		border-width: 1px;
		border-radius: 18px;
		line-height: 0.4;
	}
	
	#doctor-wrapper a
	{
		display: block;
		padding: 0em 2em;
		line-height: 80px;
		letter-spacing: 1px;
		text-align: center;
		font-size: 0.5em;
		font-weight: 700;
		color: #01A9DC;
		text-decoration: underline;

	}

	#doctor-wrapper .byline
	{
		display: block;
		line-height: 80px;
		letter-spacing: 1px;
		text-align: center;
		text-decoration: none;
		font-size: 0.4em;
		font-weight: 400;
		color: #858585;
	}

	#doctor-wrapper .arrow-down {
		border-top-color: #F4F4F4 !important;
	}

	.arrow-down {
		margin: 0 auto;
		width:0;
		height:0;
		border-top: 40px solid #FFF;
		border-left: 50px solid transparent;
		border-right: 50px solid transparent;
		display: block;
		text-align: center;
	}

	#doctor-wrapper .doctor-img {
		position: relative;
		display: block;
		margin: 0.5em auto 0.1em auto;
		line-height: 50px;
		font-size: 4em;
		background: #FFF;
		width: 150px;
		height: 150px;
		border-radius: 100px;
		border: 6px solid #00A4D9;
		text-align: center;
		color: #00A4D9;
		border-radius: 50%;
	  }

/*********************************************************************************/
/* doctor-info-wrapper                                                                */
/*********************************************************************************/

	#doctor-info-wrapper  
	{
		overflow: hidden;
		width: 1000px;
		padding: 0em 50px 5em 50px;
		background: #F4F4F4;
		color: #191919;
	}

	#doctor-info-wrapper .byline
	{
		display: block;
		line-height: 80px;
		letter-spacing: 1px;
		text-align: left;
		text-decoration: none;
		font-size: 0.5em;
		font-weight: 400;
		color: #858585;
	}

	#doctor-info-wrapper h3
	{
		font-size: 2em;
		color: #acacac;
		font-weight: 400;
	}

	#doctor-info-wrapper h2
	{
		font-size: 2.2em;
		color: #5f5f5f;
	}

	#doctor-info-wrapper h1
	{
		font-size: 2em;
		color: #acacac;
		font-weight: 400;
	}

	#doctor-info-wrapper h4
	{
		font-size: 1.5em;
		color: #acacac;
		font-weight: 400;
	}

	
	#doctor-info-wrapper .arrow-down {
		border-top-color: #292929 !important;
	}

	.arrow-down {
		margin: 0 auto;
		width:0;
		height:0;
		border-top: 40px solid #FFF;
		border-left: 50px solid transparent;
		border-right: 50px solid transparent;
		display: block;
		text-align: center;
	}

	#doctor-info-wrapper #box1
	{
		float: left;
		width: 250px;
		height:500px;
	}

	#doctor-info-wrapper .doctor-info-img {
		position: relative;
		display: block;
		margin: 0.5em auto 0.1em auto;
		line-height: 50px;
		font-size: 4em;
		background: #FFF;
		width: 150px;
		height: 150px;
		border-radius: 100px;
		border: 6px solid #00A4D9;
		text-align: center;
		color: #00A4D9;
		border-radius: 50%;
	  }

	  hr.new1{
		border-top: 1px solid#b9b9b9;
	  }

	 #doctor-info-wrapper .icon
	  {
		  position: relative;
		  display: block;
		  margin: 0px auto 0.80em auto;
		  line-height: 150px;
		  font-size: 4em;
		  width: 150px;
		  height: 150px;
		  text-align: center;
		  color: #00A4D9;
	  }

<<<<<<< HEAD
	.dropbtn {
		background-color: #4CAF50;
		color: white;
		padding: 16px;
		font-size: 16px;
		border: none;
		cursor: pointer;
	}

	.dropdown {
		position: relative;
		display: inline-block;
	}

	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	}

	.dropdown-content a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}

	.dropdown-content a:hover {background-color: #f1f1f1}

	.dropdown:hover .dropdown-content {
		display: block;
	}

	.dropdown:hover .dropbtn {
		background-color: #3e8e41;
	}
=======
/*********************************************************************************/
/* timetable-element-wrapper                                                                */
/*********************************************************************************/

	#timetable-element-wrapper  
	{
		overflow: hidden;
		width: 1000px;
		background: #F4F4F4;
		color: #191919;
	}

	#timetable-element-wrapper .byline
	{
		display: block;
		line-height: 10px;
		letter-spacing: 1px;
		text-align: left;
		text-decoration: none;
		font-size: 0.5em;
		font-weight: 400;
		color: #858585;
	}

	#timetable-element-wrapper h3
	{
		font-size: 2em;
		color: #acacac;
		font-weight: 400;
	}

	#timetable-element-wrapper h2
	{
		font-size: 1.2em;
		color: #5f5f5f;
	}

	#timetable-element-wrapper h1
	{
		font-size: 1em;
		color: #acacac;
		font-weight: 400;
		padding: 10px 32px;
		text-align: center;
	}

	#timetable-element-wrapper p
	{
		font-size: 1em;
		color: #313131;
		font-weight: 400;
		padding: 0px 32px;
		text-align: center;
	}

	#timetable-element-wrapper button {
		background-color: #2d95f7;
		border: none;
		color: white;
		width: 350px;
		padding: 10px 32px;
		text-align: center;
		text-decoration: none;
		display: block;
		font-size: 16px;
		margin-left:33%;
		margin-right:67%;
	}

	.button {
		color: white;
	}

	#timetable-element-wrapper .timetable-element {
		border: none;
		width: 1000px;
		text-align: center;
		text-decoration: none;
		display: block;
		font-size: 16px;
	}

>>>>>>> d02d334c92d94a00fd737ae043b192d2133c00df
